@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Playfair+Display:wght@400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* open sans - 400, 600, 700 */
/* playfair - 400, 600 , 700, 800, 900 */
/* font-family: 'Playfair Display', serif; */
/* font-family: 'Open Sans', sans-serif; */



.navbar {
    display: flex;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
}

.logo {
    font-size: 2em;
    font-weight: 900;
}

.contact {
    font-size: 1em;
    font-weight: bold;
}

.menu {
    font-weight: bold;
    font-size: 1em;
}

.text {
    margin: 0 auto;
    width: max-content;
    font-family: 'Mulish', sans-serif;
    font-size: 2em;
    font-weight: bold;
    border-bottom: 0.1em solid #8F8C89;
}

.content-container {
    padding: 80px 0;
    display: flex;
    justify-content: space-between;
}

.heading {
    font-family: 'Playfair Display', sans-serif;
    font-size: 1.6em;
    font-weight: 900;
}

.body {
    font-family: 'Mulish', sans-serif;
    font-size: 0.75em;
    font-weight: 700;
}

.title {
    padding: 0;
    font-weight: 900;
}

.title.small {
    font-size: 0.77em;
}

.title.medium {
    font-size: 0.9em;
}

.description {
    padding: 16px 0;
    line-height: 20px;
    font-size: 1.1em;
    font-weight: 600;
}
.description.large {
    padding: 16px 0;
    line-height: 30px;
    font-size: 1.35em;
    font-weight: 600;
}

.metadata {
    display: flex;
}

.avatar img {
    height: 38px;
    width: 38px;
    border-radius: 15px;
}

.author-information {
    padding-left: 8px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    align-items: stretch;
}

.author {
    font-weight: 800;
    font-size: 0.9em;
}

.profession {
    font-size: 0.8em;

}

.small .cover img{
    width: 220px;
    height: 125px;
    margin-bottom: 16px;
}

.large .cover img {
    width: 440px;
    height: 330px;
    margin-bottom: 16px;
}